<div class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #f96a0a!important;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a routerLink="/administradoras" style="color: #0b0a6f; text-decoration: none;">Administradora/Banco</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a routerLink="/debitos" style="color: #0b0a6f; text-decoration: none;">Débitos em Aberto</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a routerLink="/novo-acordo" style="color: #0b0a6f; text-decoration: none;">Realizar Acordo</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a routerLink="/acordos" style="color: #0b0a6f; text-decoration: none;">Acordos Realizados</a>
            </li>
        </ul>
    </div>      
</div>