<div class="auth__body__products-list auth__body__products-list--fallback">
    <form>
      <span style="font-size:x-large;font-style: oblique;color: #FF7200;" >{{nomecliente}}</span>
      <span class="bd-content-title">Temos as seguintes proposta de acordo para você<a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="#" href="#text-alignment" style="padding-left: 0.375em;"></a></span>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="card w-75">
            <div class="card-body">
             
              <span class="valorProposta" style="font-size: large;"> Valor da proposta: </span> <span> 19857,25</span>
              <p></p>
              <span class="" style="font-size: large;"> Quantidade de Parcelas: </span> <span> 1</span>
              <p></p>

            <span class="Parcelas envolvidas" style="font-size: large;">Parcelas envolvidas </span><span>17, 18, 19, 20 </span>
            <p></p>
            <button type="submit" (click)="ConfirmarProposta()" class="btn btn-primary btn-lg btn-block btn-funchal">Escolher essa proposta</button> 
            </div>
          </div>
        </div>       
      </div>
      
        <div class="table-responsive-xl">
            <table class="table">
                <caption>List of users</caption>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
          </div>
    </form>
</div>
